@import '../../app/app.scss';

.footer-navigation {
    @include flex-col;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0;

    &__menu {
        @include flex-col;
        justify-content: center;
        margin: 0;
    }

    &__menu-item {
        text-transform: uppercase;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__menu-link {
        text-transform: uppercase;
    }

    @media (min-width: $medium-up) {
        @include flex-row;

        &__menu {
            @include flex-row;
        }

        &__menu-item {
            margin: 0 1.5rem;
        }
    }
}
