#
# Mac OS
#
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

#
# Windows
#
ehthumbs.db
Thumbs.db

#
# IDE
#
/.idea
/*.iml
/.vscode

#
# Local installation
#
/bower_components/*
/node_modules/*

#
# Logs
#
npm-debug.log

#
# Cache & temp
#
.sass-cache/*

#
# Local environment
#
**/styles/**/sprites/*
/www/*
/wwwjs/*
/demo/*
/dist/*
/prod/*
/nbproject
/nbproject/private/
/temp
/source
source
/build/corebine/**/*.json
/gulp/tasks/build/corebine/**/*.json

#
# Tests
#
/report
TESTS-*.xml
