@import '../../../styles/styles.scss';

.footer-sponsors {
    @include wrapper;

    &__wrapper {
        @include flex-col;
    }

    &__menu {
        @include flex-row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    &__menu-item {
        width: 25%;
        margin: 0.5rem;
        text-transform: uppercase;
    }

    &__menu-link {
        font-size: 0;
        line-height: 0;
    }

    &__menu-img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: black;
    }

    @media (min-width: $medium-up) {
        &__wrapper {
            @include flex-row;
        }

        &__menu {
            justify-content: center;
        }

        &__menu-item {
            width: auto;
            margin: 0 $html-content-padding;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__menu-img {
            width: 9rem;
        }
    }
}
