@import '../../../styles/styles.scss';

.footer-copyright {
    @include wrapper;

    &__wrapper {
        @include flex-col;
    }

    &__content {
        @include flex-col;
    }

    &__text {
        padding: 0.5rem 0;
        text-align: center;
    }

    @media (min-width: $medium-up) {
        &__year {
            margin-right: 0.5rem;
        }
    }
}
