@import '../../app/app.scss';

.footer-copyright {
    @include flex-col;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0;

    &__link {
        margin-left: 0.5rem;
    }

    @media (min-width: $medium-up) {
        @include flex-row;
    }
}
