@import '../../styles/styles.scss';

.aside {
    &__wrapper {
        margin: 0 auto;
        padding: $html-content-padding;
    }

    @media (min-width: $medium-up) {
        width: calc(100% / 3);
    }
}
