// GENERAL
$html-font-size: 62.5%; // 1rem = 10px
$html-font-color: #ffffff;
$html-background-color: #2c2929;

// FONT WEIGHTS
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;

// COLORS
$color-accent: rgba(237, 64, 64, 1);
$color-accent-dark: $color-accent;
$color-accent-light: $color-accent;
$color-primary: #121214;
$color-primary-dark: $color-primary;
$color-primary-light: $color-primary;
$color-primary-text-dark: rgba(0, 0, 0, 1);
$color-primary-text-light: rgba(255, 255, 255, 1);
$color-secondary: rgba(235, 224, 202, 0.8);
$color-secondary-dark: $color-secondary;
$color-secondary-light: $color-secondary;

// TRANSITIONS
$transition: 0.3s;

// FONT FAMILIES
$font-family-primary: Arial, sans-serif;
$font-family-secondary: $font-family-primary;

// BREAKPOINTS
$screen-s-min: 320px;
$screen-m-min: 768px;
$screen-l-min: 1170px;
$screen-xl-min: 1550px;
$medium-up: $screen-m-min;
$large-up: $screen-l-min;
$extra-large-up: $screen-xl-min;
