// GENERAL
$html-font-size: 62.5%; // 1rem = 10px
$html-font-color: #ffffff;
$html-background-color: #2c2929;

// FONT WEIGHTS
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;

// COLORS
$color-accent: rgba(237, 64, 64, 1);
$color-accent-dark: $color-accent;
$color-accent-light: $color-accent;

$color-primary: #121214;
$color-primary-dark: $color-primary;
$color-primary-light: $color-primary;
$color-primary-text-dark: rgba(0, 0, 0, 1);
$color-primary-text-light: rgba(255, 255, 255, 1);

$color-secondary: rgba(235, 224, 202, 0.8);
$color-secondary-dark: $color-secondary;
$color-secondary-light: $color-secondary;

// TRANSITIONS
$transition: 0.3s;

// FONT FAMILIES
$font-family-primary: Arial, sans-serif;
$font-family-secondary: $font-family-primary;

// BREAKPOINTS
$screen-s-min: 320px;
$screen-m-min: 768px;
$screen-l-min: 1170px;
$screen-xl-min: 1550px;

$medium-up: $screen-m-min;
$large-up: $screen-l-min;
$extra-large-up: $screen-xl-min;

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin visually-hidden {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin wrapper {
    @include flex-row;

    position: relative;
    width: 100%;

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 1.5rem;

        @media (min-width: $medium-up) {
            width: $screen-m-min;
        }

        @media (min-width: $large-up) {
            width: $screen-l-min;
        }

        @media (min-width: $extra-large-up) {
            width: $screen-xl-min;
        }
    }
}

*, *::before, *::after {
    box-sizing: inherit;

    outline: 0.1rem dashed lightgrey;
}

html {
    box-sizing: border-box;
    font-size: $html-font-size;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: $html-background-color;
    color: $html-font-color;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;
    font-size: 1.4rem;
    line-height: 1.2;

    -webkit-font-smoothing: antialiased;
    font-variant-numeric: proportional-nums;
    font-feature-settings: "pnum";
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $color-accent;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}

ul {
    padding: 0;
    list-style-type: none;
}


