//- Fonts
$html-font-size: 62.5%; // 1rem = 10px

$client-font-set: false;

$base-font-name: 'Flama';
$base-font-family: $base-font-name, Arial, sans-serif;

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;
$extra-bold-font-weight: 900;

.header {
    color: red;
}
