@import '../../styles/styles.scss';

.navigation {
    @include flex-col;
    align-items: center;
    width: 100%;

    &__menu {
        @include flex-col;
        flex-grow: 1;
        margin: 0;
    }

    &__menu-item {
        text-transform: uppercase;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__menu-link {
        text-transform: uppercase;
    }

    @media (min-width: $medium-up) {
        @include flex-row;

        &__menu {
            @include flex-row;
            justify-content: flex-end;
        }

        &__menu-item {
            margin: 0 1.5rem;
        }
    }
}
