@import '../../styles/styles.scss';

.navigation {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    &__menu {
        @include flex-col;
        flex-grow: 1;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &__menu-item {
        text-transform: uppercase;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__menu-link {
        text-transform: uppercase;
    }

    &__toggle {
        @include h-button-clean;
    }

    &__toggle-svg {
        width: 3rem;
        height: 3rem;
        fill: $color-primary-text-light;
    }

    @media (min-width: $medium-up) {
        @include flex-row;
        padding: 0;
        flex-wrap: nowrap;

        &__menu {
            @include flex-row;
            justify-content: flex-end;
            padding: 0;
        }

        &__menu-item {
            margin: 0 1.5rem;
        }

        &__toggle {
            display: none;
        }
    }
}
