@import '../../styles/styles.scss';

.navigation {
    @include flex-col;
    padding: 0;

    &__menu {
        @include flex-col;
        flex-grow: 1;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &__menu-item {
        text-transform: uppercase;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__menu-link {
        text-transform: uppercase;
    }

    @media (min-width: $medium-up) {
        @include flex-row;
        padding: 0;

        &__menu {
            @include flex-row;
            justify-content: flex-end;
            padding: 0;
        }

        &__menu-item {
            margin: 0 1.5rem;
        }
    }
}
