@import '../app/app.scss';

.footer {
    @include wrapper;

    // FOOTER SPONSORS
    &__sponsors {
        @include flex-col;

        width: 100%;
        padding: 1.5rem 0;
    }

    // FOOTER SOCIALS
    &__socials {
        @include flex-col;

        width: 100%;
        padding: 1.5rem 0;
    }

    // FOOTER NAVIGATION
    &__navigation {
        @include flex-col;

        width: 100%;
        padding: 1.5rem 0;
    }

    &__menu {
        @include flex-col;

        margin: 0;
        justify-content: center;
    }

    &__menu-item {
        text-transform: uppercase;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__menu-link {
        text-transform: uppercase;
    }

    // FOOTER COPYRIGHT
    &__copyright {
        @include flex-col;

        padding: 1.5rem 0;
        justify-content: center;
    }

    &__copyright-link {
        margin-left: 0.5rem;
    }

    @media (min-width: $medium-up) {
        @include flex-row;

        // FOOTER SPONSORS
        &__sponsors {
            @include flex-row;
        }

        // FOOTER SOCIALS
        &__socials {
            @include flex-row;
        }

        // FOOTER NAVIGATION
        &__navigation {
            @include flex-row;
        }

        &__menu {
            @include flex-row;
        }

        &__menu-item {
            margin: 0 1.5rem;
        }

        // FOOTER COPYRIGHT
        &__copyright {
            @include flex-row;
        }
    }
}
